.App {
  text-align: center;
  display: flex;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchbar{
  width: 500px;
  align-items: center;
}

.container{
  border: solid red;
  width: 1200px;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  margin: 120px;
}

.card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
  /* display: flex;
  justify-content: center;
  width: 250px;
  height: 300px;
  border: solid aqua;
  flex-wrap: wrap;
} */

.button{
  background-color:#ED171E;
  color: white;
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}

.signup-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

