.App {
  text-align: center;
  display: flex;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.searchbar{
  width: 500px;
}

.char{
  border: solid red;
  width: 1200px;
  height: 2000px;;
  display: flex;
  flex-wrap: wrap;
  margin: 120px;
  flex-direction: row;
}

/* .card{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: solid aqua;
  flex-wrap: wrap;
  ;
} */


