.App {
  text-align: center;
  display: flex;
  align-items: center;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo{
  margin-left: 25px;
}

.menuHome a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
}
.menuHome li{
  display: inline-block;
}
.menuHome li:last-child {
  margin-left:30px;
  margin-right: 30px;
}

.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-top: 70px;
  height: 50px;
}

.searchbar{
  width: 500px;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  align-content: center;

}

.container{
  width: 1200px;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 50px 120px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: center;
    }

.gridComics{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(5, 2fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
}

.card{
  background-color: black;
  border-radius: 15px;
  margin: 5px;
  height: 350px;
}

.cardChar{
  background-color: black;
  border-radius: 15px;
  margin: 5px;
  width: 210px;
  height: 280px;
  /* padding: 5px; */
}

.cardComicsChar{
  background-color: black;
  border-radius: 15px;
  margin: 5px;
  width: 300px;
  height: 415px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comCharImg{
  border-radius: 15px;
  width: 60%;
}

.comCharName{
  padding: 2px;
  color: white;
}

.description{
  color:white
}

.title{
  color: white;
    text-decoration: none;
    display: inline-block;
    width: 250px;
    /* white-space: nowrap; */
    overflow:auto;
    /* text-overflow: ellipsis; */
    font-size: 18px;
}

.cardComics{
  background-color: black;
  border-radius: 15px;
  margin: 5px;
  width: 290px;
  height: 450px;
}

.imgChar{
  border-radius: 15px;
  width: 100%;
  height: 85%;
}

.imgCom{
  border-radius: 15px;
  width: 100%;
  height: 85%;
}

/* .button{
  background-color:#ED171E;
  color: white;
  font-size: 15px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
} */

.signup-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
}

.name {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 180px;
    white-space: nowrap;
    overflow: auto;
    /* text-overflow: ellipsis; */
    font-size: 18px;
    /* display: none; */
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.previous {
  /* padding: 20px 60px; */
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  align-items: center;
  align-content: center;
}

.next {
  /* padding: 20px 60px; */
  width: 200px;
  height: 60px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  align-items: center;
  align-content: center;
  }

